DROPGATE_DB_URL=
DROPGATE_DB_AUTH_PASSWORD=
DROPGATE_DB_ORDER_PASSWORD=
DROPGATE_DB_SETTLEMENT_PASSWORD=
DROPGATE_REDIS_SENTINEL_NODES=
DROPGATE_REDIS_SENTINEL_MASTER=dropgate-master
DROPGATE_DYNAMODB_ENDPOINT=
DROPGATE_KAKAO_CLIENT_ID=
DROPGATE_KAKAO_CLIENT_SECRET=
DROPGATE_KAKAO_REDIRECT_URI=
DROPGATE_JWT_PRIVATE_KEY_PEM_PATH=
DROPGATE_OAUTH_STATE_COOKIE_KEY=
